<!-- Site footer -->
<footer class="footer">
    <p>&copy; KSDG ASP.NET MVC Workshop 2015</p> <a href="@Url.Action("ChangeLayout", new { type = "1"})">版型1</a> | <a href="@Url.Action("ChangeLayout", new { type = "2"})">版型2</a>
</footer>

